package view

templ Home() {
	@base() {
		<div>
			<button
				hx-post="/index/full"
				hx-disabled-elt="this"
				hx-target="#index_full_duration"
			>
				Full Index
			</button>
			<p>Duration last index: <span id="index_full_duration">N/A</span></p>
		</div>
		<div>
			<button
				hx-post="/index/new"
				hx-disabled-elt="this"
				hx-target="#index_new_duration"
			>
				Index New
			</button>
			<p>Duration last index: <span id="index_new_duration">N/A</span></p>
		</div>
	}
}
