package view

templ EventsLiveHome() {
	@base(false) {
		<script src="https://unpkg.com/htmx.org@1.9.11/dist/ext/sse.js"></script>
		<hgroup>
			<h1>Live Events</h1>
			<h2>Drinking from the firehose</h2>
		</hgroup>
		<div hx-ext="sse" sse-connect="/events/live/sse" sse-swap="message" hx-swap="afterbegin"></div>
	}
}
