package view

import (
	"Stage-2024-dashboard/pkg/render"
	"Stage-2024-dashboard/pkg/database"
)

templ EventsLiveHome() {
	@base(false) {
		<script src="/static/js/sse.js"></script>
		<hgroup>
			<h1>Live Events</h1>
			<h2>Drinking from the firehose</h2>
		</hgroup>
		<div hx-ext="sse" sse-connect="/events/live/sse" sse-swap="message" hx-swap="afterbegin"></div>
	}
}

templ LiveEvent(event database.Event) {
	@Event(event, renderer.RenderJson(event.EventValue), false, []string{})
}
