:root {
  /* --pico-spacing: 0.75rem; */
  /* --pico-font-size: 99%; */
  --pico-form-element-spacing-vertical: 0.4em;
}

.json-key {
  color: #0074d9;
}
.json-string {
  color: #2ecc40;
}
.json-number {
  color: #ff4136;
}
.json-boolean {
  color: #b10dc9;
}

body {
  padding-bottom: 40vh;
}

.eventlist {
  display: flex;
  flex-direction: column;
}
.eventlist article {
  width: 650px;
  align-self: center;
}
.eventlist article details {
  margin: 1em;
}
.eventlist article details summary {
  font-size: 1.3rem;
}
.eventlist .event {
  display: flex;
  justify-content: center;
}
.eventlist .event p {
  padding: 1em;
}
