:root {
  --pico-spacing: 0.75rem;
  --pico-form-element-spacing-vertical: 0.4em;
  scrollbar-gutter: stable;
  --pico-font-size: 100% !important;
}

nav {
  position: fixed;
  padding-right: 2em !important;
  top: 0;
  z-index: 30;
  background-color: var(--pico-background-color);
}

main.container-fluid,
main.container {
  padding-block: 0;
  margin-top: 56px;
}

.json-key {
  color: #0074d9;
}

.json-string {
  color: #2ecc40;
}

.json-number {
  color: #ff4136;
}

.json-boolean {
  color: #b10dc9;
}

.json ul li {
  list-style-type: none;
  list-style: none;
}

.json > ul {
  margin: 0;
  padding: 0;
}

body {
  padding-bottom: 40vh;
}

.eventlist {
  display: grid;
  grid-template-columns: min-content 8rem auto;
}

.eventlist article {
  margin: 0.3em;
  max-width: 600px;
}

.eventlist p {
  margin: 1em;
  line-height: 1rem;
}

.hr-c-s hr {
  border: 2px var(--pico-muted-color) solid;
  margin: 0 -100%;
  width: 100%;
  z-index: -1;
}

.hr-c-s {
  margin: calc(1rem + 0.5em);
  padding: var(--pico-block-spacing-vertical) var(--pico-block-spacing-horizontal);
  z-index: -1;
}

.hr-c hr {
  border: 2px var(--pico-muted-color) solid;
  margin: 0 -95%;
  width: 200%;
  z-index: -1;
}

.hr-c {
  margin: calc(1rem + 0.5em);
  padding: var(--pico-block-spacing-vertical) var(--pico-block-spacing-horizontal);
  z-index: -1;
}

.eventlist article details {
  margin: 1em;
}

.eventlist article details summary {
  font-size: 1.3rem;
}

.event-timestamp {
  grid-column: 1;
}

.event-timestamp h3 {
  margin: 0;
  margin-bottom: -0.5em;
}

.eventlist .event p {
  padding: 1em;
}

.tab {
  display: grid;
  grid-template-columns: min-content auto;
  gap: 0 1em;
}

.tab div {
  white-space: nowrap;
}

.tab h6 {
  width: max-content;
  margin-bottom: 0;
}

.rm-form {
  margin-left: -2.5em !important;
  padding: 0 1em;
}

.controls {
  display: flex;
}

.controls * {
  margin-right: 1em;
}

.config-group {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.config-group article {
  flex-grow: 1;
}

.config-data {
  display: grid;
  grid-template-columns: min-content auto;
  gap: 0 1em;
}

.config-data h6 {
  width: max-content;
  margin: 0;
}

.grid-header {
  background-color: var(--pico-background-color);
  position: sticky;
  top: 380px;
  z-index: 1;
  padding-left: 0.2em;
  padding-right: 0.5rem;
  border-bottom: 2px solid var(--pico-color);
}

.scroll-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}

.scroll-top__link {
  position: -webkit-sticky;
  display: inline-block;
  width: 40px;
  height: 40px;
  /* for Safari */
  position: sticky;
}

main {
  position: relative;
}

#togglearrow:hover {
  cursor: pointer;
}

.toggle {
  z-index: 20;
  padding-right: 2rem;
}

.togglediv {
  width: 100%;
  height: 26px;
  background-color: var(--pico-background-color);
  position: fixed;
  top: 56px;
  display: flex;
  justify-content: end;
  z-index: 20;
}

div.querydiv {
  display: grid;
  background-color: var(--pico-background-color);
  position: sticky;
  z-index: 15;
  top: 82px;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-left: 0.2em;
  padding-top: 26px;
}

div.querydiv summary {
  font-size: larger;
  padding-bottom: 20px;
}

.hover-color article {
  box-shadow: 0px 10px 20px 23px rgba(1, 114, 173, 0.1);
}

.dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.colored {
  display: flex;
  justify-content: space-between;
}

.colored > span {
  display: flex;
  justify-content: space-between;
  flex-grow: 2;
}

.sticky-date {
  position: sticky;
  top: 474px;
  transform: rotate(200deg);
  writing-mode: vertical-lr;
}

summary > h1 {
  display: contents;
}

.headertable {
  display: grid;
  margin-bottom: 0px;
}

.headertable th {
  font-weight: 600;
  --pico-color: var(--pico-h6-color);
}
